<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="توضیحات صفحه">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="نام نویسنده">
    <title>عنوان صفحه</title>
    <link rel="stylesheet" href="styles.css"> <!-- لینک به فایل CSS -->
    <script src="script.js" defer></script> <!-- لینک به فایل جاوا اسکریپت -->
</head>
<body>
    <h1> ابوالقاسم خردپیشه</h1>
    <h1> ابوالقاسم خردپیشه</h1>
    <h1> ابوالقاسم خردپیشه</h1>
    <h1> ابوالقاسم خردپیشه</h1>
    <!-- محتوای صفحه در اینجا قرار می‌گیرد -->
</body>
</html>
